{% extends 'base.html.twig' %}
{% block body %}
<script>
    function addToCart(id) {
        fetch("/cart/add/"+id)
            .then(data => {
            document.getElementById('btnpanier').disabled = true;
        })
    }
</script>
    <h2>{{ product.name }}</h2>
    <p>{{ product.description }}</p>
    <p>Date : {{ product.createdAt|date('d/m/Y') }} Prix : {{ product.price }}€</p>
    <button id="btnpanier" onclick="addToCart({{ product.id }})">Ajouter au panier</button>
{% endblock %}




